<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >Profil Pengguna</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profil</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<div id="container">
  <ion-card class="custom-card">
  <ion-avatar class="large-avatar">
    <img alt="Silhouette of a person's head" src="../../assets/img/jatur.JPG" />
  </ion-avatar>
  
  <p class="centered-text">Kotijahturahmah</p>
  <p class="status">Mahasiswa</p>
  <a class="sosial-link1" href="https://instagram.com/jatoer.png">jatoer.png</a>
  <a class="sosial-link2" href="https://tiktok.com/@192.168.0.0_">192.168.0.0_</a>
</ion-card>
</div>
